<div class= "container">
  <div class="row">
    <div class= "col-B">
    <% @posts.each do |post| %>
      <div class= "bg-muted p-2"><%= post.account.username %></div>
      <%= image_tag post.image.url, class: "img img-fluid"     %>
<% end %>
</div>
</div>
</div>
